<!DOCTYPE html>
<html>
<head>
	<title>Dancing Places</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
	<script src="../static/js/dashboard.js"></script>
	<script src="../static/js/admin_dashboard.js"></script>
</head>
<body>
	<div style="background: {{color}};" class="topbar"></div>
	<div class="greeting">Hi <span style="color: {{color}};">{{user.firstname}}</span>! Let's get dancing!</div>
	<ul class="menu">
		<li class="logout"><a style="color: {{color}};" href="/logout">Log out</a></li>
	</ul>

	<div class="holder">
	<div class="dances">
		<h3>Latest Dance Events</h3>
		<div id="list">
		<div class="form-inline">
		  <div class="form-group">
		    <div class="input-group">
		      <input type="text" class="search form-control" placeholder="Search here with Filters">
		    </div>
		  </div>
		  <button class="sort btn btn-default" data-sort="id">Sort by id</button>
		   <button class="sort btn btn-default" data-sort="country">Sort by country</button>
		</div>	
	    <table class="tabloid table table-bordered">
		  <tr>
		    <th>ID</th>
		    <th>Dance Type</th>
		    <th>Country</th>
		    <th>Approve</th>
		    <th>Delete</th>
		  </tr>
		 
		  <tbody class="list" id="new_add_dance">
		  {% if dances|length != 0 %}
		  {% for dance in dances %}
		  {% if not dance.approved %}
		  <tr class="active">
		    <td class="id">{{dance.id}}</td>
		    <td class="type">{{dance.type_of_dance}}</td>
		    <td class="country">{{dance.country}}, {{dance.city}}</td>
		    <td><button class="approve-bttn btn btn-success btn-block">Approve</button></td>
		    <td><button class="del-bttn btn btn-danger btn-block">Delete</button></td>
		  </tr>
		  {% else %}
		  <tr class="success">
		    <td class="id">{{dance.id}}</td>
		    <td class="type">{{dance.type_of_dance}}</td>
		    <td class="country">{{dance.country}}, {{dance.city}}</td>
		    <td>Already Approved</button></td>
		    <td><button class="del-bttn btn btn-danger btn-block">Cancel</button></td>
		  </tr>
		  {% endif %}
		  {% endfor %}
		  {% else %}
		  <tr>
		    <td class="id"></td>
		    <td class="type"></td>
		    <td class="country"></td>
		    <td></td>
		    <td></td>
		  </tr>
		  {% endif %}
		  </tbody>
		</table>
	</div>
	</div>
	<div class="main-form">
		<h2 style="color: {{color}};">Let's kick off a new dance event!</h2>
		<input type="text" class="main-form-input" id="country-input" placeholder="Country">
		<input type="text" class="main-form-input" id="city-input" placeholder="City">
		<input type="text" class="main-form-input" id="address-input" placeholder="Address">
		<div class="main-dollar-input">
			<p>$</p>
			<input type="text" id="cost-input" placeholder="Cost">
		</div>
		<h6>Type of Dance</h6>

		<div class="type-upper">
			<h5 class="country-upper upper">Country</h5>
			<h5 class="swing-upper upper">Swing</h5>
			<h5 class="ballroom-upper upper">Ballroom</h5>
			<h5 class="latin-upper upper">Latin</h5>
			<h5 class="club-upper upper">Club</h5>
		</div><br><br><br><br>

		<div class="type-inner">
		</div>

		<h6>Dress Code</h6>
		<select id="dress-input" >
		  <option value="asyouare">Come As You Are</option>
		  <option value="casual">Casual</option>
		  <option value="pants">Pants and Nice Shirt</option>
		  <option value="suit">Suit and Tie</option>
		  <option value="tux">Tuxedo</option>
		</select>

		<div class="timing-selector">
			<div class="upper-date">
				<h6>How often?</h6>
			</div>

			<div class="append-times">
			<div class="days">
				<h4>Days</h4>
				<div class="days-item">
					<input type="checkbox" class="everyday" onclick="all_check();"><p>Everyday</p>
				</div>
				<div class="days-item">
					<input type="checkbox" class="all-days-one"><p>Saturday</p>
				</div>
				<div class="days-item">
					<input type="checkbox" class="all-days-one"><p>Sunday</p>
				</div>
				<div class="days-item">
					<input type="checkbox" class="all-days-one"><p>Monday</p>
				</div>
				<div class="days-item">
					<input type="checkbox" class="all-days-one"><p>Tuesday</p>
				</div>
				<div class="days-item">
					<input type="checkbox" class="all-days-one"><p>Wednesday</p>
				</div>
				<div class="days-item">
					<input type="checkbox" class="all-days-one"><p>Thursday</p>
				</div>
				<div class="days-item">
					<input type="checkbox" class="all-days-one"><p>Friday</p>
				</div>
			</div>
			<div class="months">
				<h4>Months</h4>
				<div class="months-item">
					<input type="radio" value="every" name="month"><p>Every month</p>
				</div>
				<div class="months-item">
					<input type="radio" value="other" name="month"><p>Every other month</p>
				</div>
				<div class="months-item">
					<input type="radio" value="second" name="month"><p>Every second</p>
				</div>
				<div class="months-item">
					<input type="radio" value="third" name="month"><p>Every third</p>
				</div>
				<div class="months-item">
					<input type="radio" value="fourth" name="month"><p>Every fourth</p>
				</div>
				<div class="months-item">
					<input type="radio" value="fifth" name="month"><p>Every fifth</p>
				</div>
			</div>
			</div>
		</div>
		<div class="others">
		<h6>Optional Information</h6>
		<input type="text" class="main-form-input" id="website-input" placeholder="Website">
		<input type="text" class="main-form-input" id="facebook-input" placeholder="Facebook Page">
		<input type="text" class="main-form-input" id="twitter-input" placeholder="Twitter Handle">
		<input type="text" class="main-form-input" id="meetup-input" placeholder="Meetup">
		<input type="text" class="main-form-input" id="contact-input" placeholder="Contact Person Email">
		<input type="text" class="main-form-input" id="additional-input" placeholder="Additional Notes">
		</div>

		<div class="buttons">
		<button class="submit" style="color: {{color}}; border: 1px {{color}} solid;">Submit for Approval</button>
		<button class="cancel">Cancel</button>
		</div>
	</div>
	</div>
</body>
<script type="text/javascript">
	var options = {
    valueNames: [ 'id', 'country', 'type']
};
var hackerList = new List('list', options);
</script>
</html>