{% import 'modal_add.html' as modal_add %}

<!DOCTYPE html>
<html>
  <head>
    <title>Dancing Places</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  </head>
  <body>

    {{ modal_add.modal_add() }}
    
    <div class="topbar"></div>
    <div class="container">
      <div class="row">
	<div class="logo"><img class="logo-img" src="../static/img/logo.png"></div>
      </div>
      <div id="mainlist">
	<div class="row">
	  <div class="col-md-4">
	    <button id="add-dance-button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add a dance</button>
	  </div>
	  <div class="col-md-4">
	    <input type="text" class="search form-control" placeholder="Type keywords here">
	  </div>
	  <div class="col-md-4">
	    <a href="/login">
	      <button id="moderator-button" class="btn btn-warning pull-right">Moderator Login</button>
	    </a>

	  </div>

	  <!-- <input id="input-search" type="text" class="search form-control" placeholder="Type keywords here"> -->
	  
	<ul class="dance-c fluid-container list">
	  {% if dances|length != 0 %}
	  {% for dance in dances %}
	  {% if dance.approved %}
	  <li class="single-dance-item added-dance col-xs-12 col-md-3">
	    <div class="dance-item">
	      <p class="dance-type">{{dance.type_of_dance}}</p>
	      <p class="dance-location">{{dance.country}}, {{dance.city}}, {{dance.address}}</p>
	      {% if dance.dress_code == "asyouare" %}
	      <p class="dance-dress">Dress Code — <span>Come As You Are</span></p>
	      {% elif dance.dress_code == "pants"%}
	      <p class="dance-dress">Dress Code — <span>Pants and Nice Shirt</span></p>
	      {% elif dance.dress_code == "tux"%}
	      <p class="dance-dress">Dress Code — <span>Tuxedo</span></p>
	      {% elif dance.dress_code == "suit"%}
	      <p class="dance-dress">Dress Code — <span>Suit and Tie</span></p>
	      {% else %}
	      <p class="dance-dress">Dress Code — <span>Casual</span></p>
	      {% endif %}
	      <p class="dance-cost">Cost to Attend — $ <span>{{dance.cost}}</span></p>
	      <p class="dance-days">When: {% if dance.days %}{{ dance.days }} in {% endif %}{{ dance.months }}</p>
	      {% if dance.website %}
	      <p class="dance-web">Website: {{ dance.website }}</p>
	      {% endif %}
	      {% if dance.facebook %}
	      <p class="dance-web">Facebook: {{ dance.facebook }}</p>
	      {% endif %}
	      {% if dance.twitter %}
	      <p class="dance-web">Twitter: {{ dance.twitter }}</p>
	      {% endif %}
	      {% if dance.meetup %}
	      <p class="dance-web">Meetup: {{ dance.meetup }}</p>
	      {% endif %}
	      {% if dance.contact_email %}
	      <p class="dance-email">Contact: {{ dance.contact_email }}</p>
	      {% endif %}
	      {% if dance.notes %}
	      <p class="dance-notes">Notes: {{ dance.notes }}</p>
	      {% endif %}

	    </div>
	  </li>
	  {% endif %}
	  {% endfor %}
	  {% else %}
	  <li class="single-dance-item added-dance col-xs-12 col-md-3">
	    <div class="dance-item" data-toggle="modal" data-target="#myModal">
	      <!-- <div class="modaltrig">+</div> -->
	      <center>
		<div class="add-dance">Know of a dance?<br><br>
		  Click here to add it!
		</div>
		<div class="modaltrig-small">+</div>
	      </center>
	    </div>
	  </li>
	  
	  {% endif %}
	  <li class="single-dance-item added-dance col-xs-12 col-md-3">
	    <div class="dance-item" data-toggle="modal" data-target="#myModal">
	      <!-- <div class="modaltrig">+</div> -->
	      <center>
		<div class="add-dance">Know of a dance?<br><br>
		  Click here to add it!
		</div>
		<div class="modaltrig-small">+</div>
	      </center>
	    </div>
	  </li>
	</ul>
      </div>
    </div>
    <div class="container">
      <footer>
	<hr>
	<p>All Rights Reserved. <a href="/">Theorybee, Inc.</a><p>
      </footer>
    </div>

    <span class="hidden" id="total-months">January, March, April</span>
  </body>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
  <script src="../static/js/dashboard.js"></script>

  <script type="text/javascript">


    var options = {
    valueNames: [ 'dance-type', 'dance-location', 'dance-dress', 'dance-cost']
    };
    var hackerList = new List('mainlist', options);
  </script>
</html>
